$dark-purple--color: #24053E;
$davys-gray--color: #584D62;
$eucalyptus--color: #44FFA1;
$ghost-white--color: #FCF8FF;
$primary--font-family: "Fraunces 144pt S000";
$secondary--font-family: "Manrope";
html {
  font-family: $primary--font-family, serif;
}
header {
  position: relative;
  svg {
    width: 100%;
    height: 481px;
  }
  .container {
    width: 100%;
    position: absolute;
    top: 0;
  }
  nav {
    padding: 32px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero {
    margin: 64px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      width: 343px;
      margin: auto;
      color: white;
      font-size: 50px;
      font-weight: 600;
      text-align: center;
      span {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 152px;
          height: 3px;
          background-color: $eucalyptus--color;
          left: 2px;
          top: 56px;
        }
      }
    }
    button {
      margin-top: 40px;
    }
    img {
      width: 298px;
      margin-top: 64px;
    }
  }
}
main {
  position: relative;
  z-index: -1;
  svg {
    width: 100%;
    height: 1070px;
    margin-top: -100px;
  }
  .container {
    position: absolute;
    top: 0;
    margin-top: -100px;
    width: 100%;
    > div {
      margin-top: 245px;
      width: 375px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    text-align: center;
    .number {
      font-size: 20px;
      font-weight: 600;
      line-height: 36px;
      color: $dark-purple--color;
      border-radius: 30.5px;
      border: 1px solid $davys-gray--color;
      padding: 4px 19.3px;
      margin-bottom: 24px;
    }
    h3 {
      font-size: 28px;
      font-weight: 600;
      color: $dark-purple--color;
      margin-bottom: 16px;
    }
    .text {
      color: $davys-gray--color;
      font-family: $secondary--font-family, sans-serif;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 40px;
    }
  }
}
#about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 281px;
    margin-top: 100px;
  }
  > div {
    margin-top: -53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px 31px;
    background-color: $dark-purple--color;
    color: white;
    h3 {
      font-size: 32px;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 16px;
    }
    .text {
      width: 281px;
      font-family: $secondary--font-family, sans-serif;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 24px;
    }
  }
}
footer {
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 116px;
    height: 102px;
    margin: 74px auto 64px auto;
    div {
      display: flex;
      justify-content: space-between;
    }
  }
}
.btn {
  border: none;
  font-family: $secondary--font-family, sans-serif;
  font-size: 16px;
  font-weight: 700;
  &--primary {
    background-color: $eucalyptus--color;
    color: $dark-purple--color;
    padding: 12px 24px;
  }
  &--secondary {
    background-color: $dark-purple--color;
    color: white;
    border-bottom: 3px solid $eucalyptus--color;
    line-height: 32px;
    letter-spacing: -0.16px;
    padding: 0;
  }
}
