$dark-purple--color: #24053E;
$davys-gray--color: #584D62;
$eucalyptus--color: #44FFA1;
$ghost-white--color: #FCF8FF;
$primary--font-family: "Fraunces 144pt S000";
$secondary--font-family: "Manrope";
$tablet--breakpoint: 768px;
$desktop--breakpoint: 1440px;
html {
  font-family: $primary--font-family, serif;
}
header {
  position: relative;
  svg {
    width: 100%;
  }
  .svg--mid,
  .svg--lg { display: none; }
  .container {
    width: 100%;
    position: absolute;
    top: 0;
  }
  nav {
    padding: 32px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero {
    margin: 64px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      width: 343px;
      margin: auto;
      color: white;
      font-size: 50px;
      font-weight: 600;
      text-align: center;
      span {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 152px;
          height: 3px;
          background-color: $eucalyptus--color;
          left: 2px;
          top: 56px;
        }
      }
    }
    button {
      margin-top: 40px;
    }
    img {
      width: 298px;
      margin-top: 64px;
    }
  }
}
main {
  position: relative;
  z-index: -1;
  svg {
    width: 100%;
    margin-top: -100px;
  }
  .svg--mid { display: none; }
  .container {
    position: absolute;
    top: 0;
    margin-top: -100px;
    width: 100%;
    > div {
      margin-top: 245px;
      width: 375px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    text-align: center;
    .number {
      font-size: 20px;
      font-weight: 600;
      line-height: 36px;
      color: $dark-purple--color;
      border-radius: 30.5px;
      border: 1px solid $davys-gray--color;
      padding: 4px 19.3px;
      margin-bottom: 24px;
    }
    h3 {
      font-size: 28px;
      font-weight: 600;
      color: $dark-purple--color;
      margin-bottom: 16px;
    }
    .text {
      color: $davys-gray--color;
      font-family: $secondary--font-family, sans-serif;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 40px;
    }
  }
}
#about-us {
  .container {
    width: 343px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    img {
      width: 281px;
      margin-top: 100px;
      position: relative;
      z-index: -1;
    }
    > div {
      margin-top: -53px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 32px 31px;
      background-color: $dark-purple--color;
      color: white;
      h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
        margin-bottom: 16px;
      }
      .text {
        width: 281px;
        font-family: $secondary--font-family, sans-serif;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 24px;
      }
    }
  }
}
footer {
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 116px;
    height: 102px;
    margin: 74px auto 64px auto;
    div {
      display: flex;
      justify-content: space-between;
    }
  }
}
.btn {
  border: none;
  font-family: $secondary--font-family, sans-serif;
  font-size: 16px;
  font-weight: 700;
  &--primary {
    background-color: $eucalyptus--color;
    color: $dark-purple--color;
    padding: 12px 24px;
  }
  &--secondary {
    background-color: $dark-purple--color;
    color: white;
    border-bottom: 3px solid $eucalyptus--color;
    line-height: 32px;
    letter-spacing: -0.16px;
    padding: 0;
  }
}
.pattern {
  display: none;
}
@media (min-width: $tablet--breakpoint) {
  header {
    .svg--sm { display: none; }
    .svg--mid { display: inherit; }
    .pattern {
      display: inherit;
      position: absolute;
      &:first-of-type {
        top: 71px;
        left: -227px;
      }
      &:last-of-type {
        top: 250px;
        right: -93px;
      }
    }
    nav {
      padding-left: 39px;
      padding-right: 39px;
    }
    .hero {
      margin-top: 56px;
      margin-left: 97px;
      margin-right: 98px;
      h1 {
        width: 485px;
        font-size: 60px;
        span {
          &:after {
            width: 182px;
            left: 3px;
            top: 66px;
          }
        }
      }
      img {
        width: 479.153px;
        height: 286.603px;
        margin-top: 55px;
      }
    }
  }
  main {
    svg {
      margin-top: -145px;
    }
    .svg--sm { display: none; }
    .svg--mid { display: inherit; }
    .container {
      margin-top: 0px;
      > div {
        margin-top: 325px;
        width: 573px;
      }
    }
    .benefit {
      flex-direction: row;
      text-align: start;
      margin-bottom: 48px;
      padding: 0;
      .number {
        margin-right: 32px;
      }
      .text {
        margin-bottom: 0px;
      }
    }
  }
  #about-us {
    .container {
      width: 689px;
      height: 626px;
      text-align: start;
      > div {
        width: 514px;
        align-items: inherit;
        text-align: inherit;
        padding: 0;
        position: relative;
        top: -77px;
        left: 174px;
        > * {
          margin-left: 56px;
        }
        h3 {
          font-size: 48px;
          line-height: 56px;
          margin-top: 48px;
          margin-bottom: 24px;
        }
        .text {
          width: 402px;
        }
        button {
          width: 172px;
          margin-bottom: 56px;
          padding: 12px 0px;
        }
        .pattern {
          display: inherit;
          position: absolute;
          z-index: 0;
          margin: 0;
          left: 281px;
          top: 269px;
          width: 220px;
        }
      }
    }
  }
  footer {
    > div {
      margin-top: 80px;
      margin-bottom: 122px;
    }
  }
}
@media (min-width: $desktop--breakpoint) {
  header {
    .svg--mid { display: none; }
    .svg--lg { display: inherit; }
    nav {
      padding: 56px 165px 0px 165px;
      .logo {
        width: 95px;
        height: 24px;
      }
    }
    .pattern {
      &:first-of-type {
        top: 116px;
        left: -138px;
      }
      &:last-of-type {
        top: 314px;
        right: -48px;
      }
    }
    .hero {
      margin-left: 361px;
      margin-right: 312px;
      h1 {
        font-size: 80px;
        width: 635px;
        span {
          &:after {
            top: 88px;
            width: 243px;
          }
        }
      }
      button {
        margin-top: 37px;
        padding: 16px 32px;
      }
      img {
        width: 715px;
        height: 427px;
        margin-top: 65px;
      }
    }
  }
}
