html {
  font-family: "Fraunces 144pt S000", serif;
}

header {
  position: relative;
}
header svg {
  width: 100%;
}
header .svg--mid {
  display: none;
}
header .container {
  width: 100%;
  position: absolute;
  top: 0;
}
header nav {
  padding: 32px 16px 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hero {
  margin: 64px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .hero h1 {
  width: 343px;
  margin: auto;
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
header .hero h1 span {
  position: relative;
}
header .hero h1 span:after {
  content: "";
  position: absolute;
  width: 152px;
  height: 3px;
  background-color: #44FFA1;
  left: 2px;
  top: 56px;
}
header .hero button {
  margin-top: 40px;
}
header .hero img {
  width: 298px;
  margin-top: 64px;
}

main {
  position: relative;
  z-index: -1;
}
main svg {
  width: 100%;
  margin-top: -100px;
}
main .svg--mid {
  display: none;
}
main .container {
  position: absolute;
  top: 0;
  margin-top: -100px;
  width: 100%;
}
main .container > div {
  margin-top: 245px;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}
main .benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  text-align: center;
}
main .benefit .number {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  color: #24053E;
  border-radius: 30.5px;
  border: 1px solid #584D62;
  padding: 4px 19.3px;
  margin-bottom: 24px;
}
main .benefit h3 {
  font-size: 28px;
  font-weight: 600;
  color: #24053E;
  margin-bottom: 16px;
}
main .benefit .text {
  color: #584D62;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 40px;
}

#about-us .container {
  width: 343px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#about-us .container img {
  width: 281px;
  margin-top: 100px;
  position: relative;
  z-index: -1;
}
#about-us .container > div {
  margin-top: -53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px 31px;
  background-color: #24053E;
  color: white;
}
#about-us .container > div h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 16px;
}
#about-us .container > div .text {
  width: 281px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 24px;
}

footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 116px;
  height: 102px;
  margin: 74px auto 64px auto;
}
footer > div div {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.btn--primary {
  background-color: #44FFA1;
  color: #24053E;
  padding: 12px 24px;
}
.btn--secondary {
  background-color: #24053E;
  color: white;
  border-bottom: 3px solid #44FFA1;
  line-height: 32px;
  letter-spacing: -0.16px;
  padding: 0;
}

.pattern {
  display: none;
}

@media (min-width: 768px) {
  header .svg--sm {
    display: none;
  }
  header .svg--mid {
    display: inherit;
  }
  header .pattern {
    display: inherit;
    position: absolute;
  }
  header .pattern:first-of-type {
    top: 71px;
    left: -227px;
  }
  header .pattern:last-of-type {
    top: 250px;
    right: -93px;
  }
  header nav {
    padding-left: 39px;
    padding-right: 39px;
  }
  header .hero {
    margin-top: 56px;
    margin-left: 97px;
    margin-right: 98px;
  }
  header .hero h1 {
    width: 485px;
    font-size: 60px;
  }
  header .hero h1 span:after {
    width: 182px;
    left: 3px;
    top: 66px;
  }
  header .hero img {
    width: 479.153px;
    height: 286.603px;
    margin-top: 55px;
  }
  main svg {
    margin-top: -145px;
  }
  main .svg--sm {
    display: none;
  }
  main .svg--mid {
    display: inherit;
  }
  main .container {
    margin-top: 0px;
  }
  main .container > div {
    margin-top: 325px;
    width: 573px;
  }
  main .benefit {
    flex-direction: row;
    text-align: start;
    margin-bottom: 48px;
    padding: 0;
  }
  main .benefit .number {
    margin-right: 32px;
  }
  main .benefit .text {
    margin-bottom: 0px;
  }
  #about-us .container {
    width: 689px;
    height: 626px;
    text-align: start;
  }
  #about-us .container > div {
    width: 514px;
    align-items: inherit;
    text-align: inherit;
    padding: 0;
    position: relative;
    top: -77px;
    left: 174px;
  }
  #about-us .container > div > * {
    margin-left: 56px;
  }
  #about-us .container > div h3 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 48px;
    margin-bottom: 24px;
  }
  #about-us .container > div .text {
    width: 402px;
  }
  #about-us .container > div button {
    width: 172px;
    margin-bottom: 56px;
    padding: 12px 0px;
  }
  #about-us .container > div .pattern {
    display: inherit;
    position: absolute;
    z-index: 0;
    margin: 0;
    left: 281px;
    top: 269px;
    width: 220px;
  }
  footer > div {
    margin-top: 80px;
    margin-bottom: 122px;
  }
}

/*# sourceMappingURL=style.css.map */
